body{
    text-align: center;
}
.boleta {
    margin: 0 auto;
    width: 80%;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
}
.titulo1{
    background-color: #2E75B5;
}
.titulo2{
    background-color: #BDD6EE;
}
.textoT1{
    color: white;
}
.prom{
    background: #D8D8D8;
}
.table-bordered th{
    border: 2px solid black
}
.table-bordered td{
    border: 2px solid black
}

